{% extends 'baseAdmin.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.id) }}
        {{ form_row(form.contenu) }}
        {{ form_rest(form) }}
        <hr/>

        <a class="btn btn-default" href="{{ path('admin_pageblock_list') }}">
            <span class="glyphicon glyphicon-chevron-left"></span> Retour à la liste des Blocs de page
        </a>
        <button type="submit" class="btn btn-success pull-right">
            <span class="glyphicon glyphicon-save"></span> Enregistrer
        </button>
    {{ form_end(form) }}
{% endblock %}
