{% extends 'baseAdmin.html.twig' %}

{% block content %}

    <div class="help-block">
        Les blocs sont également éditables directement <a href="{{ path('main_homepage') }}">sur le site</a>.
    </div>

    <table class="table dt-responsive nowrap js-datatable" width="100%">
        <thead>
            <tr>
                <th> Id </th>
                <th> Contenu </th>
                <th class="text-right"> Action </th>
            </tr>
        </thead>
        <tbody>
        {% for pageblock in pageblocks %}
            <tr>
                <td> {{ pageblock.id }} </td>
                <td> {{ pageblock.contenu|striptags|truncate(100) }} </td>
                <td>
                    <div class="pull-right">
                        <a class="btn btn-primary btn-sm js-tooltip"
                           data-toggle="tooltip"
                           data-placement="top"
                           title="Éditer"
                           href="{{ path('admin_pageblock_edit', { 'pageblock': pageblock.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span> Éditer
                        </a>

                        {# Formulaire de suppression #}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <span data-toggle="tooltip" title="Supprimer">
                                <button type="button"
                                    class="btn btn-sm btn-danger js-delete-modal"
                                    data-trigger="click"
                                    data-container="body"
                                    data-toggle="modal"
                                    data-target="#js-confirm-delete"
                                    data-placement="left"
                                    data-html="true"
                                    data-form='<form class="pull-right" action="{{ path('admin_pageblock_delete', { 'id': pageblock.id }) }}" method="post">
                                        <input type="hidden" name="_method" value="DELETE" />
                                        {{ form_rest(forms_delete[pageblock.id]) }}
                                        <button type="submit" class="btn btn-danger pull-right" data-toggle="tooltip" title="Supprimer">
                                            Confirmer la suppression
                                        </button>
                                    </form>'
                                > <span class="glyphicon glyphicon-trash"></span> </button>
                            </span>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <hr>
        <a class="btn btn-primary pull-right js-tooltip" href="{{ path('admin_pageblock_create') }}">
            <span class="glyphicon glyphicon-plus"></span> Ajouter
        </a>
        <div class="modal fade" id="js-confirm-delete" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Attention</h4>
                    </div>
                    <div class="modal-body">
                        Êtes-vous sûr de vouloir supprimer ce Bloc de page ?
                    </div>
                    <div class="modal-footer">
                        <div id="js-btn-suppression"></div>
                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Annuler
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}


